In [ ]:
pip install jovian --quiet

     |████████████████████████████████| 68 kB 813 kB/s
  Building wheel for uuid (setup.py) ... done

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip3 install jovian

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: jovian in /usr/local/lib/python3.7/dist-packages (0.2.41)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from jovian) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from jovian) (2.23.0)
Requirement already satisfied: uuid in /usr/local/lib/python3.7/dist-packages (from jovian) (1.30)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from jovian) (7.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->jovian) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->jovian) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->jovian) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->jovian) (2.10)

In [ ]:
#library imports
import numpy as np
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split
from scipy import sparse
import sys
import jovian

In [ ]:
!unzip '/content/drive/MyDrive/GdriveXbot/Indus_OS_Participants_Data.zip'
%cd "Indus_OS_Participants_Data"

Archive:  /content/drive/MyDrive/GdriveXbot/Indus_OS_Participants_Data.zip
   creating: Indus_OS_Participants_Data/
  inflating: __MACOSX/._Indus_OS_Participants_Data
  inflating: Indus_OS_Participants_Data/IndusOS_Data Dictionary.csv
  inflating: __MACOSX/Indus_OS_Participants_Data/._IndusOS_Data Dictionary.csv
  inflating: Indus_OS_Participants_Data/app_installs.csv
  inflating: __MACOSX/Indus_OS_Participants_Data/._app_installs.csv
  inflating: Indus_OS_Participants_Data/.DS_Store
  inflating: __MACOSX/Indus_OS_Participants_Data/._.DS_Store
  inflating: Indus_OS_Participants_Data/validation_data.csv
  inflating: __MACOSX/Indus_OS_Participants_Data/._validation_data.csv
  inflating: Indus_OS_Participants_Data/actual_set.csv
  inflating: __MACOSX/Indus_OS_Participants_Data/._actual_set.csv
  inflating: Indus_OS_Participants_Data/app_metadata.csv
  inflating: __MACOSX/Indus_OS_Participants_Data/._app_metadata.csv
  inflating: Indus_OS_Participants_Data/app_usage.csv
  inflating: __MACOSX/Indus_OS_Participants_Data/._app_usage.csv
  inflating: Indus_OS_Participants_Data/user_metadata.csv
  inflating: __MACOSX/Indus_OS_Participants_Data/._user_metadata.csv
  inflating: Indus_OS_Participants_Data/sample_submission.csv
  inflating: __MACOSX/Indus_OS_Participants_Data/._sample_submission.csv
/content/Indus_OS_Participants_Data

In [ ]:
%cd "Indus_OS_Participants_Data"

/content/Indus_OS_Participants_Data

In [ ]:
actual_set = pd.read_csv('actual_set.csv')
app_installs = pd.read_csv('app_installs.csv')
app_metadata = pd.read_csv('app_metadata.csv')
app_usage = pd.read_csv('app_usage.csv')
user_metadata = pd.read_csv('user_metadata.csv')
validation_data = pd.read_csv('validation_data.csv')

In [ ]:
user_metadata.head()

,uid,device,device_category,state,city,network_type,user_lang,space_available
0,94698,SM-M215F,Mid,Assam,Dibrugarh,4G,en-US,94.32
1,257076,SM-J400F,Mass,West Bengal,Siliguri,NaN,NaN,NaN
2,283805,SM-J415F,Mass,Jharkhand,Deogarh,wifi,en-US,11.45
3,248262,SM-A336E,High,Gujarat,Ahmedabad,4G,en-US,91.20
4,283806,SM-M205F,Mid,National Capital Territory of Delhi,Delhi,4G,en-US,42.62

In [ ]:
actual_set.head()

      uid  item_id
0  177489   601235
1   14644    64855
2   14699    64855
3  190856    64855
4   70394    64866

In [ ]:
validation_data.head()

      uid
0  255352
1  290183
2  210428
3   17401
4   48078

In [ ]:
validation_data.shape

(42252, 1)

In [ ]:
app_usage = app_usage.drop('app_use_date', axis =1)

In [ ]:
app_usage.head()

      uid  item_id  time_spent
0  185459   601235     2180211
1  164721   601235     4850939
2   22949   601235     1026713
3    1773   601235      419773
4   12539   601235     1609444

In [ ]:
#Filtering users who spent time atleast more than 10 seconds
app_usage = app_usage.loc[app_usage['time_spent'] > 10000] 

#Converting milliseconds to minutes
app_usage['time_spent'] = app_usage['time_spent'].div(60000).round(2)

app_usage.head(5)

      uid  item_id  time_spent
0  185459   601235       36.34
1  164721   601235       80.85
2   22949   601235       17.11
3    1773   601235        7.00
4   12539   601235       26.82

In [ ]:
app_usage.rename(columns = {'time_spent':'rating'}, inplace = True)

In [ ]:
app_usage.head(5)

      uid  item_id  rating
0  185459   601235   36.34
1  164721   601235   80.85
2   22949   601235   17.11
3    1773   601235    7.00
4   12539   601235   26.82

In [ ]:
app_usage.isnull().sum()

uid        0
item_id    0
rating     0
dtype: int64

In [ ]:
Counter(app_usage.rating)

Counter({36.34: 285,
         80.85: 109,
         17.11: 749,
         7.0: 1863,
         26.82: 441,
         14.88: 874,
         25.61: 467,
         6.85: 1872,
         36.51: 277,
         0.89: 9987,
         1.74: 6374,
         1.23: 8285,
         0.96: 9630,
         0.34: 16738,
         3.33: 3790,
         6.42: 2108,
         0.18: 24403,
         7.19: 1753,
         0.58: 13389,
         0.65: 12525,
         1.0: 9434,
         0.54: 14657,
         0.99: 9502,
         1.35: 7702,
         12.02: 1096,
         0.51: 14319,
         7.14: 1915,
         10.98: 1230,
         2.72: 4449,
         17.62: 787,
         5.54: 2320,
         2.34: 5227,
         12.89: 1056,
         0.42: 14971,
         0.93: 9891,
         2.35: 5127,
         52.42: 198,
         1.03: 9461,
         14.04: 944,
         0.2: 22879,
         3.9: 3214,
         8.49: 1514,
         1.63: 6750,
         5.72: 2272,
         1.28: 8037,
         2.16: 5450,
         5.51: 2277,
         57.64: 154,
         0.79: 10832,
         1.18: 8493,
         1.8: 6209,
         1.31: 7926,
         0.64: 12606,
         0.55: 14385,
         12.08: 1099,
         36.77: 299,
         6.15: 2041,
         2.86: 4439,
         12.34: 1048,
         9.04: 1459,
         4.84: 2698,
         1.09: 8916,
         14.18: 913,
         15.33: 910,
         12.82: 978,
         2.96: 4229,
         0.39: 15575,
         1.57: 6806,
         32.21: 362,
         36.91: 303,
         0.37: 16096,
         18.72: 677,
         14.92: 877,
         5.39: 2431,
         35.23: 313,
         3.5: 3643,
         9.44: 1452,
         10.29: 1297,
         3.66: 3540,
         0.27: 19098,
         10.52: 1256,
         2.42: 4953,
         6.7: 1963,
         6.88: 1833,
         0.38: 15811,
         2.11: 5568,
         2.85: 4299,
         0.66: 12174,
         7.79: 1663,
         17.67: 747,
         18.78: 685,
         34.16: 294,
         16.91: 708,
         33.2: 334,
         1.15: 8581,
         77.15: 104,
         2.55: 4792,
         1.37: 7660,
         2.17: 5377,
         6.56: 2019,
         1.46: 7246,
         5.21: 2545,
         0.98: 9519,
         4.35: 2971,
         19.96: 635,
         1.33: 7711,
         4.7: 2866,
         7.22: 1868,
         5.05: 2642,
         14.75: 840,
         12.54: 1083,
         51.6: 180,
         51.27: 170,
         3.6: 3492,
         158.02: 17,
         124.8: 36,
         245.39: 8,
         123.64: 33,
         125.01: 34,
         176.46: 19,
         122.36: 48,
         153.57: 28,
         188.06: 11,
         57.88: 154,
         8.36: 1604,
         44.34: 217,
         10.1: 1343,
         2.29: 5194,
         1.42: 7453,
         1.94: 5913,
         1.47: 7388,
         1.89: 6070,
         5.5: 2263,
         12.14: 1080,
         3.64: 3495,
         2.77: 4395,
         17.98: 708,
         1.77: 6267,
         0.43: 14856,
         8.88: 1504,
         7.46: 1748,
         7.86: 1687,
         0.52: 14141,
         8.57: 1504,
         8.78: 1508,
         0.56: 13958,
         10.83: 1221,
         29.19: 420,
         33.1: 375,
         8.75: 1516,
         14.06: 853,
         30.51: 377,
         54.92: 168,
         21.38: 581,
         3.24: 3809,
         3.95: 3121,
         2.94: 4257,
         1.9: 6100,
         4.85: 2598,
         2.25: 5400,
         0.47: 13860,
         0.45: 14232,
         0.69: 11868,
         0.91: 10031,
         2.48: 4895,
         7.2: 1843,
         13.19: 925,
         2.95: 4148,
         14.11: 952,
         9.52: 1425,
         34.59: 300,
         197.76: 11,
         2.21: 5276,
         2.62: 4737,
         3.18: 3967,
         2.01: 5937,
         0.62: 12894,
         0.53: 14749,
         0.49: 13671,
         2.46: 5022,
         3.98: 3208,
         0.82: 10657,
         4.02: 3102,
         14.91: 869,
         23.67: 507,
         13.09: 949,
         0.46: 14256,
         2.59: 4705,
         0.61: 12896,
         2.27: 5316,
         3.12: 4004,
         1.14: 8753,
         1.99: 5787,
         5.09: 2574,
         10.05: 1363,
         2.37: 5158,
         11.53: 1179,
         0.36: 16428,
         3.47: 3615,
         10.53: 1260,
         2.23: 5189,
         1.16: 8577,
         0.35: 16530,
         1.48: 7215,
         2.05: 5814,
         0.67: 12105,
         0.31: 17907,
         1.19: 8462,
         0.32: 17237,
         0.59: 13509,
         0.9: 9994,
         0.44: 14665,
         3.03: 4137,
         4.32: 2964,
         3.43: 3640,
         0.29: 18453,
         4.41: 2872,
         2.06: 5662,
         128.19: 29,
         4.49: 2899,
         0.71: 11537,
         0.68: 12080,
         1.88: 6184,
         2.41: 4939,
         0.78: 11020,
         1.62: 6857,
         0.22: 21475,
         1.58: 7003,
         0.41: 15144,
         0.3: 18010,
         0.73: 11360,
         0.19: 23478,
         0.84: 10729,
         0.57: 13726,
         1.81: 6331,
         1.26: 8051,
         2.74: 4636,
         0.97: 9486,
         1.01: 9454,
         3.23: 3925,
         0.72: 11522,
         3.54: 3551,
         1.05: 9162,
         1.02: 9468,
         0.85: 10500,
         0.26: 19637,
         0.77: 11081,
         1.07: 9053,
         4.45: 2986,
         2.53: 4702,
         1.45: 7311,
         1.5: 7305,
         0.4: 15301,
         0.25: 20079,
         0.24: 20504,
         0.33: 17219,
         1.06: 9102,
         0.81: 10730,
         3.06: 4129,
         2.54: 4778,
         0.94: 9661,
         0.17: 21212,
         3.84: 3349,
         1.72: 6611,
         0.21: 21939,
         2.1: 5665,
         14.42: 910,
         1.98: 5891,
         4.69: 2696,
         1.08: 8889,
         2.28: 5365,
         1.49: 7344,
         0.92: 9950,
         4.6: 2902,
         25.43: 505,
         0.23: 21190,
         0.5: 14533,
         3.05: 4108,
         1.79: 6257,
         7.88: 1658,
         10.9: 1196,
         3.21: 3949,
         4.89: 2613,
         1.97: 5671,
         8.24: 1641,
         30.86: 386,
         7.51: 1738,
         50.04: 235,
         11.66: 1053,
         24.27: 500,
         15.79: 841,
         10.37: 1207,
         19.14: 661,
         7.4: 1840,
         8.03: 1657,
         8.56: 1485,
         19.11: 631,
         4.58: 2762,
         3.8: 3362,
         30.71: 386,
         5.0: 2564,
         24.03: 483,
         13.39: 944,
         11.17: 1192,
         8.64: 1459,
         240.73: 4,
         20.66: 593,
         86.03: 78,
         34.53: 325,
         5.13: 2570,
         5.15: 2597,
         2.82: 4485,
         103.24: 53,
         2.02: 5701,
         40.87: 271,
         15.29: 769,
         33.11: 344,
         52.74: 190,
         14.05: 949,
         57.93: 167,
         5.48: 2365,
         3.19: 3920,
         15.45: 866,
         22.92: 512,
         59.56: 152,
         49.77: 172,
         85.41: 77,
         100.09: 63,
         53.77: 219,
         16.5: 740,
         340.16: 5,
         5.4: 2470,
         46.29: 241,
         156.99: 21,
         12.81: 1042,
         11.87: 1097,
         54.15: 174,
         65.29: 128,
         39.37: 314,
         14.81: 881,
         1.22: 8447,
         13.84: 888,
         74.21: 119,
         85.69: 85,
         8.69: 1527,
         33.7: 337,
         17.33: 702,
         4.64: 2773,
         10.78: 1222,
         12.46: 1082,
         5.96: 2120,
         5.9: 2231,
         17.85: 725,
         8.86: 1491,
         3.55: 3583,
         6.4: 2111,
         2.14: 5508,
         21.13: 556,
         26.95: 446,
         71.89: 137,
         43.3: 249,
         17.27: 743,
         9.8: 1315,
         22.72: 563,
         31.12: 383,
         16.98: 778,
         17.42: 765,
         26.17: 466,
         10.18: 1340,
         35.44: 320,
         69.39: 126,
         6.32: 2014,
         10.79: 1160,
         5.44: 2410,
         13.42: 947,
         302.57: 4,
         87.05: 85,
         99.67: 49,
         111.22: 55,
         13.25: 1041,
         35.2: 342,
         62.22: 156,
         26.11: 430,
         28.64: 442,
         22.94: 487,
         16.81: 803,
         23.81: 507,
         16.25: 816,
         8.25: 1610,
         131.47: 24,
         94.89: 68,
         68.29: 103,
         21.31: 594,
         23.38: 517,
         3.68: 3563,
         20.48: 571,
         52.79: 190,
         3.91: 3245,
         5.86: 2255,
         3.13: 3995,
         14.47: 864,
         4.46: 2863,
         6.31: 2044,
         4.53: 2930,
         8.18: 1595,
         21.28: 606,
         31.27: 370,
         40.2: 242,
         6.52: 1970,
         10.34: 1321,
         4.68: 2755,
         14.72: 894,
         12.29: 1080,
         108.99: 46,
         138.67: 26,
         49.71: 193,
         44.21: 240,
         20.19: 603,
         237.45: 9,
         40.71: 279,
         65.94: 131,
         23.97: 503,
         62.74: 133,
         44.56: 226,
         37.11: 308,
         2.91: 4302,
         1.61: 6847,
         37.7: 289,
         217.31: 6,
         41.87: 260,
         48.94: 202,
         3.48: 3540,
         102.29: 50,
         104.29: 52,
         4.55: 2758,
         3.96: 3260,
         11.57: 1131,
         16.15: 769,
         11.74: 1054,
         14.39: 935,
         57.92: 158,
         28.41: 391,
         61.08: 149,
         65.56: 125,
         15.21: 881,
         32.13: 367,
         22.02: 565,
         6.55: 2029,
         16.34: 778,
         11.91: 1106,
         8.77: 1496,
         23.45: 550,
         11.6: 1105,
         4.61: 2802,
         25.92: 461,
         46.69: 240,
         44.78: 230,
         3.99: 3162,
         103.98: 59,
         19.93: 627,
         3.17: 3932,
         27.52: 440,
         31.41: 377,
         4.08: 3194,
         15.27: 861,
         10.27: 1287,
         18.23: 729,
         19.98: 636,
         9.98: 1311,
         20.55: 661,
         133.44: 33,
         46.34: 227,
         108.77: 40,
         27.39: 446,
         32.91: 338,
         69.18: 135,
         17.82: 704,
         45.54: 206,
         35.92: 305,
         19.74: 607,
         2.32: 5257,
         10.55: 1287,
         281.49: 3,
         133.4: 30,
         201.82: 7,
         275.49: 5,
         239.41: 6,
         28.28: 397,
         54.2: 184,
         0.74: 11611,
         65.26: 125,
         63.9: 138,
         28.94: 369,
         9.37: 1377,
         25.24: 479,
         153.14: 27,
         10.59: 1269,
         74.45: 100,
         104.75: 49,
         2.89: 4287,
         27.55: 413,
         25.02: 563,
         23.06: 549,
         34.3: 337,
         18.88: 686,
         25.2: 470,
         14.56: 915,
         3.59: 3505,
         6.18: 2103,
         10.32: 1289,
         4.21: 2969,
         37.54: 302,
         3.73: 3427,
         4.22: 3029,
         2.51: 4962,
         5.11: 2585,
         12.31: 1094,
         20.14: 613,
         6.19: 2210,
         5.2: 2540,
         3.58: 3605,
         3.44: 3701,
         5.37: 2419,
         12.7: 980,
         5.34: 2489,
         27.47: 399,
         8.66: 1483,
         8.89: 1496,
         6.84: 1936,
         3.39: 3721,
         0.95: 9710,
         42.33: 239,
         7.29: 1831,
         3.38: 3682,
         1.54: 7146,
         2.44: 4988,
         11.61: 1141,
         0.87: 10173,
         4.15: 3155,
         18.67: 681,
         7.16: 1870,
         6.33: 2106,
         7.61: 1668,
         7.47: 1726,
         9.5: 1419,
         2.09: 5589,
         3.34: 3794,
         3.62: 3478,
         1.1: 9018,
         5.63: 2299,
         3.1: 4019,
         2.64: 4753,
         2.43: 4895,
         4.99: 2576,
         4.17: 3028,
         4.87: 2593,
         5.83: 2314,
         9.15: 1502,
         3.31: 3804,
         6.12: 2201,
         8.73: 1565,
         14.28: 884,
         9.09: 1451,
         5.92: 2165,
         12.06: 1052,
         3.52: 3635,
         25.39: 528,
         20.5: 624,
         53.11: 197,
         134.1: 25,
         91.08: 64,
         61.69: 169,
         238.74: 7,
         122.21: 36,
         128.55: 47,
         94.32: 66,
         12.6: 1053,
         114.84: 52,
         35.98: 317,
         31.75: 383,
         13.31: 942,
         66.38: 117,
         2.79: 4410,
         42.22: 239,
         26.92: 441,
         15.23: 881,
         15.04: 869,
         2.61: 4642,
         43.07: 216,
         17.7: 699,
         5.28: 2495,
         9.94: 1349,
         1.68: 6422,
         6.98: 1993,
         0.8: 10776,
         4.59: 2875,
         6.28: 2043,
         1.11: 8918,
         156.7: 19,
         176.05: 16,
         229.39: 12,
         183.27: 12,
         30.4: 402,
         14.7: 889,
         2.18: 5361,
         12.11: 1098,
         27.19: 449,
         5.06: 2609,
         38.09: 298,
         859.95: 1,
         37.9: 256,
         118.21: 53,
         2.08: 5658,
         24.65: 493,
         79.83: 93,
         30.84: 393,
         7.45: 1756,
         2.0: 5837,
         2.67: 4588,
         6.64: 2041,
         35.68: 324,
         5.31: 2373,
         0.88: 10300,
         1.56: 6998,
         4.88: 2674,
         8.83: 1474,
         2.84: 4433,
         30.74: 372,
         9.41: 1343,
         4.54: 2720,
         1.75: 6502,
         6.24: 2079,
         9.64: 1363,
         1.3: 7895,
         100.15: 60,
         7.39: 1748,
         2.15: 5573,
         0.28: 18971,
         1.29: 7891,
         2.8: 4280,
         218.68: 5,
         0.7: 11854,
         7.42: 1765,
         9.72: 1315,
         12.16: 1089,
         20.98: 584,
         4.76: 2706,
         10.22: 1303,
         3.77: 3459,
         3.04: 4044,
         1.53: 7145,
         1.7: 6593,
         1.43: 7578,
         3.2: 4014,
         10.23: 1282,
         17.37: 770,
         7.59: 1758,
         5.17: 2496,
         2.2: 5224,
         4.34: 2875,
         5.33: 2391,
         11.8: 1081,
         4.25: 3080,
         3.71: 3414,
         1.55: 6939,
         5.93: 2179,
         11.92: 1168,
         1.13: 8757,
         4.03: 3198,
         12.47: 1059,
         1.87: 6059,
         8.91: 1419,
         5.47: 2346,
         24.36: 504,
         20.94: 612,
         27.07: 421,
         7.31: 1743,
         6.77: 1894,
         2.69: 4547,
         6.62: 1945,
         24.58: 530,
         15.28: 854,
         2.98: 4278,
         2.92: 4240,
         1.04: 9309,
         7.26: 1788,
         50.18: 187,
         1.2: 8517,
         26.18: 457,
         40.08: 242,
         0.86: 10340,
         33.98: 361,
         20.78: 596,
         92.47: 89,
         10.33: 1242,
         4.86: 2655,
         3.14: 4026,
         5.14: 2581,
         45.57: 225,
         103.0: 61,
         2.5: 4905,
         14.23: 939,
         2.9: 4255,
         3.85: 3243,
         17.92: 763,
         1.24: 8201,
         7.52: 1746,
         8.85: 1509,
         7.99: 1754,
         8.34: 1603,
         14.64: 853,
         10.46: 1261,
         6.43: 2065,
         16.84: 716,
         19.71: 654,
         13.78: 931,
         5.97: 2226,
         9.78: 1359,
         2.03: 5783,
         1.32: 7880,
         4.93: 2592,
         16.36: 803,
         34.02: 342,
         11.89: 1063,
         21.91: 576,
         24.66: 484,
         10.45: 1218,
         10.51: 1252,
         1.25: 8106,
         16.61: 772,
         7.1: 1878,
         19.97: 660,
         89.82: 64,
         59.83: 148,
         30.21: 406,
         1.21: 8167,
         3.92: 3242,
         4.97: 2477,
         2.38: 5163,
         1.34: 7929,
         5.19: 2536,
         14.08: 907,
         35.97: 319,
         6.87: 1887,
         1.4: 7636,
         8.99: 1515,
         4.33: 3010,
         26.58: 486,
         6.34: 2108,
         5.57: 2399,
         12.09: 1056,
         13.67: 984,
         5.38: 2380,
         8.2: 1628,
         9.69: 1395,
         3.76: 3401,
         6.16: 2136,
         5.18: 2533,
         27.89: 453,
         1.59: 6993,
         14.93: 861,
         13.82: 940,
         4.98: 2589,
         6.76: 1994,
         24.35: 515,
         20.83: 595,
         3.27: 3948,
         47.61: 190,
         51.71: 203,
         17.59: 718,
         3.93: 3208,
         0.76: 11276,
         9.88: 1348,
         23.77: 505,
         13.71: 908,
         6.1: 2162,
         3.25: 3790,
         5.68: 2290,
         6.48: 2069,
         4.0: 3317,
         18.38: 672,
         7.97: 1679,
         41.57: 267,
         20.65: 583,
         8.43: 1589,
         6.73: 1979,
         16.01: 774,
         1.76: 6326,
         16.08: 772,
         7.38: 1894,
         9.66: 1328,
         37.52: 294,
         1.66: 6798,
         1.69: 6493,
         36.92: 288,
         41.96: 250,
         14.99: 849,
         2.58: 4631,
         3.75: 3453,
         15.0: 823,
         5.3: 2497,
         51.28: 190,
         1.86: 6073,
         9.73: 1351,
         19.47: 679,
         14.87: 888,
         7.05: 1863,
         5.67: 2281,
         23.18: 545,
         9.26: 1418,
         1.92: 6031,
         11.24: 1148,
         10.48: 1246,
         20.2: 630,
         10.65: 1227,
         62.81: 146,
         1.78: 6309,
         23.73: 474,
         11.02: 1240,
         0.63: 12724,
         7.11: 1819,
         31.65: 354,
         6.94: 1918,
         9.68: 1319,
         10.47: 1273,
         4.75: 2677,
         18.31: 655,
         0.83: 10512,
         33.13: 345,
         7.72: 1710,
         61.99: 124,
         2.68: 4483,
         12.52: 983,
         11.06: 1210,
         46.74: 230,
         3.42: 3785,
         53.36: 167,
         14.66: 889,
         14.5: 897,
         13.65: 981,
         2.47: 5027,
         19.3: 600,
         12.91: 1017,
         5.53: 2426,
         9.81: 1325,
         17.47: 698,
         3.22: 3854,
         39.02: 270,
         18.12: 702,
         17.19: 715,
         113.28: 64,
         38.08: 281,
         12.49: 1042,
         70.76: 108,
         11.51: 1113,
         11.37: 1142,
         5.16: 2508,
         7.17: 1829,
         2.3: 5179,
         3.65: 3471,
         8.5: 1663,
         1.71: 6453,
         4.74: 2649,
         1.83: 6289,
         2.81: 4486,
         11.88: 1078,
         20.44: 626,
         20.45: 599,
         2.13: 5630,
         13.57: 953,
         5.04: 2591,
         8.09: 1699,
         48.02: 203,
         2.07: 5558,
         49.69: 224,
         8.6: 1502,
         14.15: 927,
         10.07: 1292,
         26.34: 487,
         6.93: 1849,
         12.33: 1079,
         10.66: 1272,
         35.1: 307,
         14.8: 860,
         54.66: 196,
         7.18: 1864,
         13.3: 964,
         11.4: 1129,
         6.26: 2069,
         26.85: 451,
         4.91: 2636,
         1.64: 6663,
         17.54: 745,
         13.35: 951,
         12.15: 1088,
         16.96: 749,
         72.09: 111,
         9.49: 1351,
         3.53: 3601,
         19.83: 612,
         26.99: 448,
         20.21: 601,
         6.9: 1857,
         2.71: 4647,
         11.52: 1182,
         9.28: 1472,
         68.06: 144,
         9.33: 1403,
         14.02: 902,
         8.0: 1713,
         12.19: 1096,
         15.26: 845,
         13.29: 954,
         9.7: 1289,
         26.5: 425,
         3.82: 3343,
         1.85: 6099,
         10.74: 1290,
         27.27: 482,
         17.31: 772,
         54.41: 180,
         8.38: 1531,
         20.9: 618,
         21.08: 604,
         11.49: 1129,
         14.21: 871,
         21.79: 574,
         15.43: 798,
         7.73: 1840,
         1.84: 6134,
         15.07: 867,
         2.22: 5241,
         11.77: 1017,
         3.01: 4256,
         5.7: 2377,
         9.76: 1350,
         28.25: 437,
         30.33: 370,
         47.23: 262,
         29.1: 358,
         14.4: 944,
         31.85: 354,
         9.46: 1393,
         15.89: 770,
         32.08: 356,
         43.2: 255,
         17.74: 721,
         4.04: 3224,
         1.73: 6553,
         10.49: 1249,
         23.72: 557,

In [ ]:
Counter(app_usage.groupby(['uid']).count()['item_id'])

Counter({26: 5518,
         6: 3730,
         20: 5782,
         28: 5441,
         83: 179,
         23: 5753,
         3: 2630,
         41: 3249,
         86: 137,
         71: 426,
         16: 5468,
         40: 3416,
         27: 5367,
         34: 4369,
         17: 5539,
         30: 4982,
         66: 622,
         76: 299,
         2: 2391,
         18: 5719,
         42: 3058,
         54: 1533,
         95: 89,
         51: 1795,
         31: 4982,
         49: 2074,
         22: 5719,
         7: 4134,
         24: 5644,
         37: 3984,
         13: 5045,
         39: 3604,
         12: 4930,
         9: 4332,
         19: 5665,
         35: 4243,
         14: 5330,
         38: 3816,
         62: 827,
         4: 2960,
         11: 4653,
         36: 4215,
         50: 2008,
         48: 2310,
         25: 5591,
         45: 2666,
         21: 5719,
         8: 4119,
         15: 5555,
         57: 1270,
         98: 61,
         33: 4622,
         29: 5198,
         47: 2313,
         10: 4528,
         72: 404,
         5: 3485,
         52: 1659,
         43: 2969,
         1: 2351,
         32: 4748,
         58: 1131,
         44: 2804,
         69: 495,
         107: 35,
         79: 219,
         111: 25,
         53: 1623,
         65: 713,
         70: 472,
         56: 1329,
         61: 897,
         64: 730,
         55: 1450,
         60: 1029,
         89: 95,
         81: 234,
         84: 163,
         110: 29,
         67: 576,
         78: 298,
         46: 2473,
         63: 839,
         116: 16,
         147: 6,
         68: 566,
         134: 7,
         88: 141,
         105: 31,
         59: 1093,
         73: 370,
         80: 215,
         101: 60,
         93: 83,
         108: 42,
         77: 290,
         74: 343,
         94: 98,
         82: 191,
         87: 131,
         85: 145,
         90: 106,
         92: 95,
         102: 41,
         122: 10,
         75: 350,
         100: 38,
         112: 21,
         103: 40,
         96: 60,
         91: 113,
         139: 3,
         157: 1,
         120: 11,
         132: 6,
         143: 2,
         106: 25,
         125: 8,
         97: 51,
         146: 4,
         109: 23,
         114: 23,
         123: 6,
         117: 12,
         99: 50,
         133: 8,
         121: 8,
         104: 29,
         113: 23,
         144: 2,
         131: 5,
         163: 1,
         115: 18,
         141: 4,
         176: 1,
         182: 2,
         229: 1,
         127: 9,
         130: 3,
         129: 8,
         119: 14,
         138: 3,
         135: 3,
         161: 1,
         142: 1,
         118: 8,
         173: 2,
         145: 3,
         149: 1,
         137: 3,
         136: 5,
         162: 2,
         169: 4,
         180: 1,
         197: 1,
         126: 3,
         153: 2,
         178: 2,
         124: 9,
         236: 1,
         159: 1,
         128: 8,
         151: 2,
         155: 2,
         160: 1,
         220: 1,
         201: 1,
         195: 1,
         207: 1,
         189: 1,
         246: 1,
         179: 1,
         150: 2,
         140: 2,
         164: 1,
         154: 2,
         152: 1,
         226: 1,
         172: 1,
         187: 1,
         177: 1,
         175: 1})

In [ ]:
#Average number of ratings per user
np.mean(app_usage.groupby(['uid']).count()['item_id'])

28.649443781612867

In [ ]:
train_df, valid_df = train_test_split(app_usage, test_size=0.2)

#resetting indices to avoid indexing errors in the future
train_df = train_df.reset_index()[['uid', 'item_id', 'rating']]
valid_df = valid_df.reset_index()[['uid', 'item_id', 'rating']]

In [ ]:
train_df.head()

      uid  item_id  rating
0  300577    69902   46.98
1  298836    20875   62.50
2  159823    20875   48.30
3  132839   732171   37.23
4  159581   797459    5.68

In [ ]:
app_usage.head()

      uid  item_id  rating
0  185459   601235   36.34
1  164721   601235   80.85
2   22949   601235   17.11
3    1773   601235    7.00
4   12539   601235   26.82

In [ ]:
actual_set['rating'] = 100

In [ ]:
ft = pd.concat([app_usage,actual_set],axis=0)
ft.head()

      uid  item_id  rating
0  185459   601235   36.34
1  164721   601235   80.85
2   22949   601235   17.11
3    1773   601235    7.00
4   12539   601235   26.82

In [ ]:
ft.tail()

           uid  item_id  rating
326241  296038   141827   100.0
326242  168106   153823   100.0
326243  112134   776536   100.0
326244  130065   862905   100.0
326245  219036   683417   100.0

In [ ]:
ft.shape

(7145845, 3)

In [ ]:
print('Number of unique books: ', app_usage['item_id'].nunique())
print('Number of unique users: ', app_usage['uid'].nunique())

Number of unique books:  47052
Number of unique users:  238036

In [ ]:
print('Number of unique books: ', ft['item_id'].nunique())
print('Number of unique users: ', ft['uid'].nunique())

In [ ]:
def encode_column(column):
    """ Encodes a pandas column with continous IDs"""
    keys = column.unique()
    key_to_id = {key:idx for idx,key in enumerate(keys)}
    return key_to_id, np.array([key_to_id[x] for x in column]), len(keys)

In [ ]:
def encode_df(user_df):
    """Encodes rating data with continuous user and an item ids"""
    
    item_ids, user_df['item_id'], num_item = encode_column(user_df['item_id'])
    user_ids, user_df['uid'], num_users = encode_column(user_df['uid'])
    return user_df, num_users, num_item, user_ids, item_ids

In [ ]:
user_df, num_users, num_item, user_ids, item_ids = encode_df(app_usage)
print("Number of users :", num_users)
print("Number of apps :", num_item)

Number of users : 238036
Number of apps : 47052

In [ ]:
print("Number of users :",user_df['uid'].nunique())
print("Number of apps :",user_df['item_id'].nunique())

Number of users : 238036
Number of apps : 47052

In [ ]:
app_usage.head()

   uid  item_id  rating
0    0        0   36.34
1    1        0   80.85
2    2        0   17.11
3    3        0    7.00
4    4        0   26.82

In [ ]:
user_df.head()

   uid  item_id  rating
0    0        0   36.34
1    1        0   80.85
2    2        0   17.11
3    3        0    7.00
4    4        0   26.82

In [ ]:
print('Number of unique books: ', app_usage['item_id'].nunique())
print('Number of unique users: ', app_usage['uid'].nunique())

Number of unique books:  47052
Number of unique users:  238036

In [ ]:
app_usage.sort_values(by=['item_id','uid'])

In [ ]:
train_df.head()

In [ ]:
train_df.head()

In [ ]:
user_df, num_users, num_item, user_ids, item_ids = encode_df(train_df)
print("Number of users :", num_users)
print("Number of apps :", num_item)
user_df.head()

Number of users : 237450
Number of apps : 43535

   uid  item_id  rating
0    0        0    8.50
1    1        1    8.90
2    2        2  111.31
3    3        3   42.79
4    4        4    0.67

In [ ]:
def create_embeddings(n, K):
    """
    Creates a random numpy matrix of shape n, K with uniform values in (0, 11/K)
    n: number of items/users
    K: number of factors in the embedding 
    """
    return 11*np.random.random((n, K)) / K

In [ ]:
def create_sparse_matrix(df, rows, cols, column_name="rating"):
    """ Returns a sparse utility matrix""" 
    return sparse.csc_matrix((df[column_name].values,(df['uid'].values, df['item_id'].values)),shape=(rows, cols))

In [ ]:
user_df, num_users, num_item, user_ids, item_ids = encode_df(train_df)
Y = create_sparse_matrix(user_df, num_users, num_item)

In [ ]:
Y.todense()

matrix([[21.81,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
        [ 0.  ,  6.23,  0.  , ...,  0.  ,  0.  ,  0.  ],
        [ 0.  ,  0.  ,  3.68, ...,  0.  ,  0.  ,  0.  ],
        ...,
        [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
        [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
        [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ]])

In [ ]:
def predict(df, emb_user, emb_item):
    """ This function computes df["prediction"] without doing (U*V^T).
    
    Computes df["prediction"] by using elementwise multiplication of the corresponding embeddings and then 
    sum to get the prediction u_i*v_j. This avoids creating the dense matrix U*V^T.
    """
    df['prediction'] = np.sum(np.multiply(emb_item[df['item_id']],emb_user[df['uid']]), axis=1)
    return df

In [ ]:
lmbda = 0.0002

In [ ]:
def cost(df, emb_user, emb_item):
    """ Computes mean square error"""
    Y = create_sparse_matrix(df, emb_user.shape[0], emb_item.shape[0])
    predicted = create_sparse_matrix(predict(df, emb_user, emb_item), emb_user.shape[0], emb_item.shape[0], 'prediction')
    return np.sum((Y-predicted).power(2))/df.shape[0]

In [ ]:
def gradient(df, emb_user, emb_item):
    """ Computes the gradient for user and item embeddings"""
    Y = create_sparse_matrix(df, emb_user.shape[0], emb_item.shape[0])
    predicted = create_sparse_matrix(predict(df, emb_user, emb_item), emb_user.shape[0], emb_item.shape[0], 'prediction')
    delta =(Y-predicted)
    grad_user = (-2/df.shape[0])*(delta*emb_item) + 2*lmbda*emb_user
    grad_item = (-2/df.shape[0])*(delta.T*emb_user) + 2*lmbda*emb_item
    return grad_user, grad_item

In [ ]:
def gradient_descent(df, emb_user, emb_item, iterations=2000, learning_rate=0.01, df_val=None):
    """ 
    Computes gradient descent with momentum (0.9) for given number of iterations.
    emb_user: the trained user embedding
    emb_item: the trained item embedding
    """
    Y = create_sparse_matrix(df, emb_user.shape[0], emb_item.shape[0])
    beta = 0.9
    grad_user, grad_item = gradient(df, emb_user, emb_item)
    v_user = grad_user
    v_item = grad_item
    for i in range(iterations):
        grad_user, grad_item = gradient(df, emb_user, emb_item)
        v_user = beta*v_user + (1-beta)*grad_user
        v_item = beta*v_item + (1-beta)*grad_item
        emb_user = emb_user - learning_rate*v_user
        emb_item = emb_item - learning_rate*v_item
        if(not (i+1)%50):
            print("\niteration", i+1, ":")
            print("train mse:",  cost(df, emb_user, emb_item))
            if df_val is not None:
                print("validation mse:",  cost(df_val, emb_user, emb_item))
    return emb_user, emb_item

In [ ]:
emb_user = create_embeddings(num_users, 32)
emb_item = create_embeddings(num_item, 32)
emb_user, emb_item = gradient_descent(user_df, emb_user, emb_item, iterations=800, learning_rate=1)

iteration 50 :
train mse: 6328.009947318592

iteration 100 :
train mse: 5537.419374372136

iteration 150 :
train mse: 5212.5623340748125

iteration 200 :
train mse: 4999.519134150636

iteration 250 :
train mse: 4658.7366657261655

iteration 300 :
train mse: 4040.025372168941

iteration 350 :
train mse: 3694.0670802634086

iteration 400 :
train mse: 3426.3797921165465

iteration 450 :
train mse: 3212.899372675388

iteration 500 :
train mse: 3064.1949312733327

iteration 550 :
train mse: 2932.014434151851

iteration 600 :
train mse: 2811.0204215778017

iteration 650 :
train mse: 2701.941359404625

iteration 700 :
train mse: 2604.6250187161704

iteration 750 :
train mse: 2517.136383796875

iteration 800 :
train mse: 2435.6346800297147

In [ ]:
def call_item_item(self, product):
        product_x = self.product_table.lookup(product)
        pe = tf.expand_dims(self.product_embedding(product_x), 0)
        
        all_pe = tf.expand_dims(self.product_embedding.embeddings, 0)#note this only works if the layer has been built!
        scores = tf.reshape(self.dot([pe, all_pe]), [-1])
        
        top_scores, top_indices = tf.math.top_k(scores, k=100)
        top_ids = tf.gather(self.products, top_indices)
        return top_ids, top_scores

In [ ]:
def predict(df, emb_user, emb_item):
    """ This function computes df["prediction"] without doing (U*V^T).
    
    Computes df["prediction"] by using elementwise multiplication of the corresponding embeddings and then 
    sum to get the prediction u_i*v_j. This avoids creating the dense matrix U*V^T.
    """
    df['prediction'] = np.sum(np.multiply(emb_item[df['item_id']],emb_user[df['uid']]), axis=1)
    return df

array([0.24845623, 0.24100342, 0.15620079, 0.20366953, 0.10066095,
       0.10641945, 0.0673662 , 0.17111865, 0.06793226, 0.16289183,
       0.15887899, 0.0388557 , 0.10345477, 0.12284483, 0.05811157,
       0.04604085, 0.16566006, 0.24844094, 0.01242908, 0.15690099,
       0.10311554, 0.06308456, 0.22703793, 0.2520366 , 0.1617025 ,
       0.05335531, 0.09081098, 0.17554054, 0.09443465, 0.05389565,
       0.11306009, 0.0525177 ])

In [ ]:
emb_user = create_embeddings(num_users, 32)
emb_item = create_embeddings(num_item, 32)
emb_user, emb_item = gradient_descent(user_df, emb_user, emb_item, iterations=800, learning_rate=1)

iteration 50 :
train mse: 5343.329580210165

iteration 100 :
train mse: 4661.629859370922

iteration 150 :
train mse: 4381.703557377513

iteration 200 :
train mse: 4194.6793003111425

iteration 250 :
train mse: 3886.717632628585

iteration 300 :
train mse: 3384.416400990598

iteration 350 :
train mse: 3133.818247174303

iteration 400 :
train mse: 2918.6511701590243

iteration 450 :
train mse: 2725.921944959832

iteration 500 :
train mse: 2592.798275600406

iteration 550 :
train mse: 2475.2105071869814

iteration 600 :
train mse: 2363.143835977539

iteration 650 :
train mse: 2258.7498407639446

iteration 700 :
train mse: 2165.071735562239

iteration 750 :
train mse: 2082.2538519964937

iteration 800 :
train mse: 2006.8346482695902

In [ ]:
def encode_new_data(valid_df, user_ids, item_ids):
    """ Encodes valid_df with the same encoding as train_df.
    """
    df_val_chosen = valid_df['item_id'].isin(item_ids.keys()) & valid_df['uid'].isin(user_ids.keys())
    valid_df = valid_df[df_val_chosen]
    valid_df['item_id'] =  np.array([item_ids[x] for x in valid_df['item_id']])
    valid_df['uid'] = np.array([user_ids[x] for x in valid_df['uid']])
    return valid_df

In [ ]:
print("before encoding:", valid_df.shape)
valid_df = encode_new_data(valid_df, user_ids, item_ids)
print("after encoding:", valid_df.shape)

before encoding: (1363920, 3)
after encoding: (1363920, 3)

In [ ]:
train_mse = cost(user_df, emb_user, emb_item)
val_mse = cost(valid_df, emb_user, emb_item)
print(train_mse, val_mse)

2435.6346800297147 1467.088223123895

In [ ]:
valid_df.head()

      uid  item_id  rating  prediction
0   28014     7300    3.58    1.793976
1   77390    31301    0.26    4.268633
2   65298    37931    1.26    3.846285
3  157265     7144    6.48    5.634718
4   73261    42719    1.35   11.334733

In [ ]:
actual_set.head()

      uid  item_id
0  177489   601235
1   14644    64855
2   14699    64855
3  190856    64855
4   70394    64866

In [ ]:
actual_set_e = encode_new_data(actual_set, user_ids, item_ids)
#actual_set_e.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
actual_set_e.head()

      uid  item_id
0   20239        0
6   90552        2
7  137763        2
8   88032        2
9      46        2

In [ ]:
predict(actual_set_e, emb_user, emb_item)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

           uid  item_id  prediction
0        20239        0    0.439682
6        90552        2    0.215258
7       137763        2    0.388469
8        88032        2    0.426794
9           46        2    0.430698
...        ...      ...         ...
326237   93881    46812    1.485674
326238  185060    47047    1.503117
326239   93075    47048    1.341935
326240  193840    47048    1.451466
326241  186153    47049    0.338921

[313631 rows x 3 columns]

In [ ]:
actual_set_e

In [ ]:
cost(actual_set_e, emb_user, emb_item)

2143.2304276251843

In [ ]:
actual_set_e.head()

      uid  item_id  prediction
0   20239        0    0.439682
6   90552        2    0.215258
7  137763        2    0.388469
8   88032        2    0.426794
9      46        2    0.430698

In [ ]:
actual_set_e.head()

      uid  item_id  prediction
0   20239        0    0.439682
6   90552        2    0.215258
7  137763        2    0.388469
8   88032        2    0.426794
9      46        2    0.430698

In [ ]:
actual_set_e=actual_set_e.reset_index(drop=True)

In [ ]:
actual_set_e['rating'] = 50

In [ ]:
actual_set.head()

      uid  item_id
0  177489   601235
1   14644    64855
2   14699    64855
3  190856    64855
4   70394    64866

In [ ]:
actual_set_e.head()

      uid  item_id  rating
0   20239        0      50
1   90552        2      50
2  137763        2      50
3   88032        2      50
4      46        2      50

In [ ]:
app_usage.head()

   uid  item_id  rating  prediction
0    0        0   36.34    0.667121
1    1        0   80.85    0.268946
2    2        0   17.11    0.677145
3    3        0    7.00    0.274318
4    4        0   26.82    0.215590

In [ ]:
aa.head()

NameError: ignored

In [ ]:
full = pd.concat([app_usage,actual_set],axis=0)

In [ ]:
full=full.reset_index(drop=True)

In [ ]:
full.head()

   uid  item_id  rating  prediction
0    0        0   36.34    0.667121
1    1        0   80.85    0.268946
2    2        0   17.11    0.677145
3    3        0    7.00    0.274318
4    4        0   26.82    0.215590

In [ ]:
full.uid.nunique()

273538

In [ ]:
full.item_id.nunique()

70663

In [ ]:
app_u_new=full.groupby(['uid','item_id'])['rating'].agg(['sum'])
app_u_new=app_u_new.reset_index(drop=False)

In [ ]:
app_u_new.head()

   uid  item_id    sum
0    0        0  36.34
1    0     2960  62.38
2    0     6030  15.97
3    0     6361  82.26
4    0     9175  71.22

In [ ]:
app_u_new[app_u_new.uid==2]

In [ ]:
app_u_new[app_u_new.uid==2]

    uid  item_id     sum
0     2     5526  124.29
1     2    20875    6.44
2     2    25349    6.91
3     2    29763    0.36
4     2    55857   50.00
5     2   145082    4.03
6     2   145569    1.06
7     2   146521    0.22
8     2   151402    0.64
9     2   589378    8.28
10    2   589482  212.16

In [ ]:
print('Number of unique books: ', app_u_new['item_id'].nunique())
print('Number of unique users: ', app_u_new['uid'].nunique())

Number of unique books:  70663
Number of unique users:  273538

In [ ]:
full = user_df.copy()

In [ ]:
full=full[['uid','item_id','rating']]

In [ ]:
full.head()

   uid  item_id  rating
0    0        0   36.34
1    1        0   80.85
2    2        0   17.11
3    3        0    7.00
4    4        0   26.82

In [ ]:
full.item_id.max()

47051

In [ ]:
app_count = (full.
     groupby(by = ['item_id'])['uid'].
     count().
     reset_index().
     rename(columns = {'uid': 'app_count'})
     [['item_id', 'app_count']]
    )
app_count.head()

   item_id  app_count
0        0         11
1        1          1
2        2         75
3        3          3
4        4          1

In [ ]:
rating_with_totalRatingCount = full.merge(app_count, left_on = 'item_id', right_on = 'item_id', how = 'left')
rating_with_totalRatingCount.head()

   uid  item_id  rating  app_count
0    0        0   36.34         11
1    1        0   80.85         11
2    2        0   17.11         11
3    3        0    7.00         11
4    4        0   26.82         11

In [ ]:
popularity_threshold = 30
rating_popular_movie= rating_with_totalRatingCount.query('app_count >= @popularity_threshold')
rating_popular_movie.head()

    uid  item_id  rating  app_count
12   11        2    0.96         75
13   12        2    0.34         75
14   13        2    3.33         75
15   14        2    6.42         75
16   15        2    0.18         75

In [ ]:
user_count=(full.
     groupby(by = ['uid'])['item_id'].
     count().
     reset_index().
     rename(columns = {'item_id': 'total_user_Count'})
     [['uid', 'total_user_Count']]
    )
user_count.head()

   uid  total_user_Count
0    0                37
1    1                43
2    2                52
3    3                94
4    4                72

In [ ]:
mine = rating_popular_movie.merge(user_count, left_on = 'uid', right_on = 'uid', how = 'left')

In [ ]:
user_threshold = 2
mine= mine.query('total_user_Count >= @user_threshold')
mine.head()

   uid  item_id  rating  app_count  total_user_Count
0   11        2    0.96         75                31
1   12        2    0.34         75                14
2   13        2    3.33         75                43
3   14        2    6.42         75                40
4   15        2    0.18         75                12

In [ ]:
mine =  mine[['uid','item_id','rating','app_count']]

In [ ]:
print('Number of unique books: ', mine['item_id'].nunique())
print('Number of unique users: ', mine['uid'].nunique())

Number of unique books:  5968
Number of unique users:  235663

In [ ]:
validation_data.shape

(42252, 2)

In [ ]:
validation_data.head()

      uid
0  255352
1  290183
2  210428
3   17401
4   48078

In [ ]:
validation_data['item_id'] = 601235

In [ ]:
validation_data.shape

(42252, 2)

In [ ]:
validation_data_new =  encode_new_data(validation_data, user_ids, item_ids)

In [ ]:
validation_data_new.head()

      uid  item_id
0  187884        0
1   20087        0
2  105849        0
3   92084        0
4   46430        0

In [ ]:
validation_data_new.shape

(42038, 2)

In [ ]:
validation_data_new['uid'].max()

238014

In [ ]:
validation_data_new.uid.nunique()

42038

In [ ]:
test_df=mine[mine.uid.isin(validation_data_new['uid']) == True]

In [ ]:
test_df.head()

    uid  item_id  rating  app_count
0    11        2    0.96         75
3    14        2    6.42         75
4    15        2    0.18         75
5    15        2    7.19         75
15   20        2   10.98         75

In [ ]:
test_df = test_df.reset_index(drop=True)

In [ ]:
print('Number of unique books: ', test_df['item_id'].nunique())
print('Number of unique users: ', test_df['uid'].nunique())

Number of unique books:  5900
Number of unique users:  41809

In [ ]:
print('Number of unique books: ', test_df['item_id'].nunique())
print('Number of unique users: ', test_df['uid'].nunique())

Number of unique books:  7303
Number of unique users:  41940

In [ ]:
test_df_n = test_df[test_df.app_count>90]

In [ ]:
test_df_n = test_df_n.reset_index(drop=True)
test_df_n.head()

   uid  item_id  rating  app_count
0  138       34    0.78        130
1  138       34    1.62        130
2  150       34    0.57        130
3  151       34    0.91        130
4  151       34    0.56        130

In [ ]:
test_df = test_df.reset_index(drop=True)

In [ ]:
print('Number of unique books: ', test_df_n['item_id'].nunique())
print('Number of unique users: ', test_df_n['uid'].nunique())

Number of unique books:  2988
Number of unique users:  41806

In [ ]:
print('Number of unique books: ', test_df['item_id'].nunique())
print('Number of unique users: ', test_df['uid'].nunique())

Number of unique books:  5900
Number of unique users:  41809

In [ ]:
test_df.head()

   uid  item_id  rating  app_count
0   11        2    0.96         75
1   14        2    6.42         75
2   15        2    0.18         75
3   15        2    7.19         75
4   20        2   10.98         75

In [ ]:
ty=test_df.uid.unique()

In [ ]:
len(ty)

41809

In [ ]:
validation_data_new[validation_data_new.uid==20087]

In [ ]:
ty

array([187884,  20087, 105849, ..., 163968,  65369,  11281])

In [ ]:
rt = test_df_n.item_id.unique()

In [ ]:
len(rt)

2988

In [ ]:
ss_uid = []
ss_item = []
for i in ty[0:10000]:
  dd = full[full.uid==i]
  dd = dd.item_id.values
  cc=test_df_n[test_df_n.item_id.isin(dd) == False]
  cc = cc.item_id.unique()
  for j in cc:
    ss_uid.append(i)
    ss_item.append(j)
  #break

In [ ]:
nn_new=pd.DataFrame()
nn_new['uid']=ss_uid
nn_new['item_id']=ss_item
#nn_new['rating'] = 100

In [ ]:
nn_new.head()

   uid  item_id
0   11       34
1   11       38
2   11      101
3   11      112
4   11      117

In [ ]:
nn_new_1 = predict(nn_new, emb_user, emb_item)

In [ ]:
nn_new.shape

(29743489, 2)

In [ ]:
nn_new.shape

(44670764, 3)

In [ ]:
nn_new[nn_new.uid==20087]

            uid  item_id  rating
12767203  20087       34     100
12767204  20087       38     100
12767205  20087      101     100
12767206  20087      112     100
12767207  20087      117     100
...         ...      ...     ...
12770668  20087   818431     100
12770669  20087   818017     100
12770670  20087    71626     100
12770671  20087   154052     100
12770672  20087   145666     100

[3470 rows x 3 columns]

In [ ]:
nn_new.head()

      uid  item_id  rating
0  187884       34     100
1  187884       38     100
2  187884      101     100
3  187884      112     100
4  187884      117     100

In [ ]:
nn_new = nn_new.reset_index(drop=True)

In [ ]:
#test_df_n = encode_new_data(nn_new, user_ids, item_ids)
cost(nn_new, emb_user, emb_item)

In [ ]:
nn_new.head()

In [ ]:
c_p = test_df_n.set_index(['item_id']).groupby('uid')['rating_preds'].nlargest(4).reset_index() 
c_p.head()

In [ ]:
test_df_n.head()

In [ ]:
validation_data.head()

      uid
0  255352
1  290183
2  210428
3   17401
4   48078

In [ ]:
df_n=user_df[user_df.uid.isin(validation_data['uid']) == True]

In [ ]:
test_df.describe()

                 uid        item_id    rating     prediction
count  312344.000000  312344.000000  312344.0  312344.000000
mean   113844.549279    3233.257236      50.0      11.210350
std     67591.914610    6404.856041       0.0      25.662471
min         0.000000       0.000000      50.0     -67.835467
25%     55191.000000      63.000000      50.0       0.651094
50%    111902.000000     584.000000      50.0       2.120542
75%    171175.500000    3154.000000      50.0      10.766228
max    237409.000000   43504.000000      50.0    1811.887947

In [ ]:
actual_set.head()

      uid  item_id
0  177489   601235
1   14644    64855
2   14699    64855
3  190856    64855
4   70394    64866

In [ ]:
valid_df.head()

      uid  item_id  rating  prediction
0  167970       17   38.42   17.934124
1   98606      144    2.37    3.635008
2  147064       55  107.64   13.179147
3  123734     1006    8.30    0.244380
4   22509        3    4.08    5.738667

In [ ]:
sub = valid_df[['uid','item_id']].copy()
sub.head()

      uid  item_id
0  165061       25
1  124372        1
2   87422       24
3  206650       20
4  114656       13

In [ ]:
sub = sub[sub.uid.isin(validation_data.uid)].astype({"uid":'object', "item_id":'object'})

In [ ]:
sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190791 entries, 1 to 1363917
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   uid      190791 non-null  object
 1   item_id  190791 non-null  object
dtypes: object(2)
memory usage: 4.4+ MB

In [ ]:
sub = sub.astype({"uid":'object', "item_id":'object'})

In [ ]:
sub.to_csv("submission_from_starter_script.csv", index = False, header = True)

In [ ]:
import pandas as pd
sample_submission=pd.read_csv('sample_submission.csv')
stest=pd.read_csv('submission_from_starter_script.csv')
common = sample_submission.merge(stest, on=["uid"])
result = sample_submission[~sample_submission.uid.isin(common.uid)]
new=pd.concat([stest, result], ignore_index = True)
new.to_csv("sim_note.csv",index=False)

In [ ]:
df_n=df[df.uid.isin(actual_set['uid']) == True]

In [ ]:
actual_set